{% extends "layout.html" %}
{% block body %}
<form method="POST" action="{{ url_for('auth_register') }}">
    <div class=form-signin style="margin: auto">
        <p>Name</p>
        <label for="name" class="sr-only"> {{ form.name.label }}Nimi</label>
        <input type="text" id="name" name="name">
    </div>    
    <div class=form-signin>
        <p>Username</p>
        <label for="username" class="sr-only">Käyttäjänimi {{ form.username.label }}</label>
        <input type="text" id="username" name="username">
    </div>    

    <div class=form-signin>
        <p>Password</p>
        <label for="password" class="sr-only"> {{ form.password.label }}Salasana</label>
        <input type="password" id="password" name="password">
    </div>    
    <div style="width: 300px">
        <button type="submit" class="btn btn-lg btn-primary btn-block" type="submit">Create user</button>
    </div>
  
</form>
{% endblock %}


