{% extends "layout.html" %}

{% block body %}
	<table>
	  <tr>
	    <th>Task</th>
			<th>Done</th>
	
	  </tr>
	  {% for task in tasks %}
	  <tr>	
	    <td>{{ task.name }}</td>
	    <td>{{ task.done }}</td>
	   
	    <td>
	       <form method="POST" action="{{ url_for('task_set_done', task_id=task.id) }}">
					<td>	<button type="submit" class="btn btn-outline-primary">Muuta tehdyksi</button> </td>
					</div>
		 </form>
	       <form method="POST" action="{{ url_for('task_remove', id_a=task.id) }}">
					<td>	<button type="submit" class="btn btn-outline-primary">Poista</button>	</td>
	       </form>
	       <form method="GET" action="{{ url_for('edit_task', id_g=task.id) }}">
					<td> <button type="submit" class="btn btn-outline-primary">Päivitä</button>	</td>
	       </form>
	    </td>
	  </tr>
	  {% endfor %}
	</table>
{% endblock %}
